@import url("/css/style-login.css");
@import url("/css/style-utils.css");
@import url("/css/style-ticket.css");
@import url("/css/style-mediaScroller.css");
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Roboto&family=Sansita+Swashed:wght@400;500;600&display=swap");
@import url("/css/booking-history.css");
/*
font-family: 'Monoton', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Sansita Swashed', cursive;
*/

* {
  box-sizing: border-box;
  margin: 0;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none;
}

/* Login button top-right */
.login-header {
  align-self: flex-end;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 10px;
  border-radius: 0 0 0px 10px;
  border-bottom: 1px solid maroon;
  border-left: 1px solid maroon;
}

.login-button:link,
.login-button:visited {
  text-decoration: none;
  color: white;
}

.login-button:hover {
  border-bottom: 3px solid white;
}

h1, h2 {
  font-family: 'Sansita Swashed', cursive;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Sansita Swashed', cursive;
  padding-bottom: 4px;
}

h2.movie_title {
  font-family: 'Roboto', sans-serif;
  font-size: larger;
  padding: 6px 0px;
}

h1.title {
  font-family: "Monoton", cursive;
  font-size: 2.5rem;
  text-shadow: -3px 3px maroon;
}

body {
  background-image: url("/image/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: white;
  font-family: "Roboto", sans-serif;
}

/* Body background image color overlay effect */
body:before {
  z-index: -999;
  content: "";
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(107, 2, 2, 0.5);
}

header {
  background-color: black;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

header,
footer {
  text-align: center;
  opacity: 0.8;
}

.logged-on-user,
.login-header-delimiter {
  font-size: 1.2rem;
}

.logged-on-user {
  font-style: italic;
}

nav.top-nav {
  padding-bottom: 20px;
}

.top-nav a {
  color: rgb(218, 214, 214);
  font-size: 1.2rem;
  padding: 0 5px;
  margin: 0 5px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  transition: border-bottom 1s;
}

.top-nav a:hover {
  border-bottom: 3px solid white;
}

.top-nav .active {
  color: white;
  border-bottom: 3px solid white;
}

.placeholder {
  width: 100%;
  height: 100%;
  border: 2px solid rgba(233, 9, 9, 0.425);
  border-radius: 5px;
}

/* Master-container to align the containers in the middle of the site: 
  [movie-scroller]
  [main-middle-container] -> main-content, current-screenings */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.movie-scroller,
.main-middle-container {
  width: 850px;
  max-width: 95%;
  border-radius: 5px;
}

/* Side-scroller with current movies below navigation and above main-content */
.movie-scroller {
  align-self: center;
  margin-bottom: 10px;
}

/* Container to align: main-content, current-screenings */
.main-middle-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.main-content {
  color: whitesmoke;
  line-height: 1.5rem;
  flex: 1;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 20px;
  border-radius: 5px;
  margin-right: 10px;
  border: 2px solid maroon;
  height: fit-content;
}

.movie_header_class {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.movie_details_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

#m_details_book_tickets-button {
  color: rgb(255, 255, 255);
  background-color: black;
  opacity: 1;
  border-radius: 10px;
  border: 2px solid rgb(46, 46, 46);
  padding: 5px 20px;
  text-decoration: none;

  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

#m_details_book_tickets-button:hover {
  background-color: rgb(53, 53, 53);
  border: 2px solid rgb(255, 255, 255);
  cursor: pointer;
}

.movie_filter_selectors {
  min-width: auto;
  margin: 0 0 auto;
  display: flex;
  justify-content: space-between;
}

#id_age_group_form {
  display: flex;
  margin-right: 2%;
}

#id_date_filter_form {
  display: flex;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie-details-image {
  width: 30%;
  margin-right: 2%;
  padding-top: 10px;
  float: left;
  position: relative;
}

.movie-desc-details {
  position: relative;
  float: left;
  width: 100%;
  padding-top: 20px;
}

.movie-desc-table {
  text-align: left;
  border-collapse: collapse;
  width: 90%;
}

.youtubeEmbed {
  width: 100%;
}
iframe {
  width: 100%;
}

/* Clickable movie posters under Movies page */
.movie-poster {
  width: 100%;
}

.movie-link {
  width: 30%;
  border: 1px solid black;
  margin: 5px;
}

a > img:only-child {
  display: inline-block;
}

.movie-link:hover {
  box-shadow: 0 0 8px 3px white;
  border: 1px solid white;
}

/* Container to the right of main-content */
.current-screenings {
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 20px 10px;
  border-radius: 5px;
  height: fit-content;
  border: 2px solid maroon;
  min-width: 200px;
  width: 25%;
}

  .current-screenings-day:not(:first-child) {
    padding-top: 3px;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
  }

.current-screenings-auditorium {
  padding: 4px 0;
}

.current-screenings-item {
  margin-bottom: 2px;
}

.current-screenings-item a {
  width: fit-content;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap;
  display:block;
  color: white;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  transition: border-bottom 1s;
}

.current-screenings-item-started a {
  color: grey;
}

.current-screenings-item a:hover {
  font-weight: bolder;
  border-bottom: 3px solid white;
}

footer {
  text-align: center;
  margin-top: 30px;
  color: white;
  padding: 20px;
  background-color: black;
}

/* Responsive changes */
@media screen and (max-width: 600px) {
  .main-middle-container {
    flex-direction: column;
  }

  .main-content {
    order: 1;
    margin-top: 10px;
    margin-right: 0;
  }

  .current-screenings {
    width: 100%;
  }

  /* Clickable movie posters under Movies page */
  .movie-link {
    width: 45%;
  }

  .login-header {
    border-radius: 0;
    border-left: 0;
    width: 100%;
  }

  /* Only show Today's screenings on small windows */
  .current-screenings-day:not(:first-child) {
    display: none;
  }
}
