/*@import "https://unpkg.com/open-props";*/
/*@import "https://unpkg.com/open-props/normalize.min.css";*/




.movie-scroller{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.85);
    border: 2px solid maroon;
    
}
.ms-leftarrow{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    padding-right: 5px;
    padding-left: 5px;
   
}

.ms-rightarrow{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

.ms-leftarrow:hover{
    cursor: pointer;
}

.ms-rightarrow:hover{
    cursor: pointer;
}
.ms-content{
    flex: 1;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 1%;
    scrollbar-width: none; 
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 15%;
    overflow-y: hidden;
    
    

    
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}



.ms-content::-webkit-scrollbar{
    display: none;
}

.item{
    display: grid;
    grid-template-rows: min-content;
    padding: 0px;
    justify-content: center;
    border-radius: var(--radius-2);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
}


.picMS {
    inline-size: 100%;
    object-fit: cover;
    
}

.movieScrollerAtag{
  text-decoration: none !important;
}


.titleMS{
  color: white;
  text-decoration: none !important;
  margin-bottom: 0px;
}

.picMS:hover {
    box-shadow: 0 0 8px 3px white;
    border: 0px solid white;
  }

.titleMS:hover{
    color: white; 
    font-weight: bold;
    text-decoration:none; 
    cursor:pointer; 
}

@media screen and (max-width: 800px) {

    .titleMS{
        display: none;
    }

    .ms-content{
        grid-auto-columns: 30%;
    }
    
} 


@media screen and (max-width: 400px) {

    .titleMS{
        display: none;
    }

    .ms-content{
        grid-auto-columns: 40%;
    }
    
} 

@media (hover: none) {
    .ms-leftarrow{
        display: none;

    }

    .ms-rightarrow{
        display: none;
    }
}

