
    <div class="movie-details">
        <embed width="560" height="315"
        src="https://youtu.be/FNq-QT2Jpng"frameborder="0" 
        allowfullscreen></embed>
        <iframe
        id="video"
        height="315"
        src="https://www.youtube-nocookie.com/embed/FNq-QT2Jpng?rel=0&amp;controls=0&amp;showinfo=0"
        frameborder="0"
        allowfullscreen="">
        </iframe>

      <img class="movie-details-image" src="./image/images-movies/jackass1.jpg"><!-- hardcoded values for testing-->
      <div class="movie-desc">
      <p><h1>Jackass forever</h1></p>
      <p>Celebrating the joy of being back together with your best friends and a perfectly executed shot to the dingdong, 
          the original jackass crew return for another round of hilarious, wildly absurd, and often dangerous displays of comedy with a little help from some exciting new cast.</p>
        </div>
        </div>

        <div class="movie-desc-details">
         <p><h1>Buy tickets NOW</h1></p>
        </div>
      <script src="/movie-details.js">