<article>
  <header class="movie_header_class">
    <h1>Movies</h1>
    <form>
      <label for="age_group">Age:</label>
      <select name="age_groups" class="age_group_selector_class" onchange="selectboxHandler(this)">
        <option value="all">All</option>
        <option value="kids">Kids (7)</option>
        <option value="youth">Youth (11)</option>
        <option value="adult">Adult (15)</option>
      </select>
    </form>
  </header>

  <div class="movies">
    <!-- Placeholder items. Will be created by js.
    Js code should create <img class="movie-poster invisible"> to a number divisible by 3
    to make second row align nicely-->
    <p> hello</p>
    <script src="/movies.js"></script>
  </div>
</article>