<article>
  <h1>Movies</h1>
  <div class="movies">
    <!-- Placeholder items. Will be created by js.
    Js code should create <img class="movie-poster invisible"> to a number divisible by 3
    to make second row align nicely-->
    <img class="movie-poster" src="/image/movie-posters/thebatman.jpg">
    <img class="movie-poster" src="/image/movie-posters/thebatman.jpg">
    <img class="movie-poster" src="/image/movie-posters/thebatman.jpg">
    <img class="movie-poster" src="/image/movie-posters/thebatman.jpg">
    <img class="movie-poster" src="/image/movie-posters/thebatman.jpg">
    <img class="movie-poster invisible">
  </div>
</article>