<article>
  <h1>Welcome</h1>
  <p>
    The history of the cinema FlicksPictures began year 2022. The company, which is run by some students from Kristianstad University, was founded during a web development course.
  </p>
  <p>
    <br>
    The business eventually developed and over time, FlicksPicture added more cinemas to its offering. The first salon Little Flicks with 35 seats had to be supplemented with a larger cinema when the pressure on the tickets became to big.
    Big Flicks, which is now the flagship of the cinema, offers 56 seats and is a much-appreciated cinema as it is also adapted for the disabled.
  </p>
<p>
  <br>
  The technology in cinema is constantly evolving. Our ambition is to always be able to offer the best quality. We therefore regularly visit trade fairs to keep up to date.
  Over the years, we have been to London, Paris, Amsterdam, Barcelona, ​​New York, Los Angeles and Las Vegas, where the world's largest cinema fair CinemaCon is held annually to offer our customers the best experience.
</p>
</article>