<article>
  <h1>Welcome</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui praesentium ab nostrum fugit distinctio perferendis
    corporis quaerat molestias. Aliquid dignissimos a quisquam tenetur incidunt aspernatur harum quibusdam qui ipsa nam!
  </p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui praesentium ab nostrum fugit distinctio perferendis
    corporis quaerat molestias. Aliquid dignissimos a quisquam tenetur incidunt aspernatur harum quibusdam qui ipsa nam!
  </p>
</article>