<article class="ticket-body">
    <h1>Tickets</h1>
    <div class="datepicker">
        <label>Choose date</label>
        <input type="date" id="ticket-datepicker">
    </div>

    <div class="movie-container">
        <label>Pick Movie</label>
        <select id="movie-ticket"></select>
    </div>


    <ul class="showcase">
        <li>
            <div class="seat"></div>
            <small>N/A</small>
        </li>
        <li>
            <div class="seat selected"></div>
            <small>Selected</small>
        </li>
        <li>
            <div class="seat occupied"></div>
            <small>Occupied</small>
        </li>
        <li>
            <div class="seat reserved"></div>
            <small>Reserved</small>
        </li>
    </ul>

    <div class="container-ticket"></div>

    <p class="text">
        You have selected <span id="count">0</span> seats.
    </p>

    <button class="button-book" id="confirm">
        <span></span>
        <span></span>
        <span></span>
        <span></span> BUY TICKETS
    </button>

    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>

            <p class="text">
                You have reserved <span id="count2">0</span> seats, select ticket type.
            </p>

            <div class="modal-ticket-types"></div>

            <p class="text">
                You have <span id="ticket-type-left">0</span> more to choose.
            </p>

            <article class="booking-info">
                Date: <span id="booking-info-date">0</span>
                <br><br>
                Movie: <span id="booking-info-movie">0</span>
                <br><br>
                Auditorium: <span id="booking-info-auditorium">0</span>
                <br><br>
                Total price: <span id="booking-info-totalprice">0</span> SEK
            </article>

            <button class="button-book" id="confirm-booking">
                <span></span>
                <span></span>
                <span></span>
                <span></span> CONFIRM BOOKING
            </button>

        </div>
    </div>
</article>